*{
    margin: 0;
    padding: 0;
}
body{
    background-color:black;
    color: white;
}
.logo{
    display: flex;
    gap: 175px;
    padding-bottom: 10px;
}

.home ul li{
    list-style: none;
    width: 20px;
    display: flex;
    gap :20px;
    padding: 12px 0;
}
.home{
    padding: 35px;
    background-color: #121212;
    border-radius: 10px;
    margin: 7px 7px 7px 4px;
}
.library{
    margin: 7px 7px 7px 4px;
    background-color: #121212;
    border-radius: 10px;
    
}

.filter{
    filter: invert(1);
}

.left{
    width: 25vw;
}

.right{
    width: 75vw;
    height: 90vh;
    position: relative;
}
.heading{
    display: flex;
    gap: 18px;
    
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.heading img{
    width: 25px;
}
.flex{
    display: flex;
    gap: 18px;
    align-items: center;
}

.header{
    background-color: #0b0b0b;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
}

.header img{
    width:17px;
    padding: 15px;
    
    
}
.arrows{
    display: flex;
    align-items: center;
}
.container{
    display: flex;
}
#sign{
  color: #a5a5a5;
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;

}
.buttons{
    padding: 0 35px 0 15px;
}
#log{
    border-radius: 15px;
    background-color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-weight: bolder;
    cursor: pointer;
}

.spotifyPlaylists{
    padding: 15px;
}
.card{
    width: 200px;
    background-color: #252525;
    
}
.cardContainer{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: scroll;
    
}
.card img{
    width: 100%;
    object-fit: contain;
}
.card > *{
    padding-top:8px;
}
.playbar{
    position:fixed;
    bottom: 30px;
    background-color: #252525;
    padding: 18px;
    width: 70vw;
    padding: 20px;
    
    
}
.musicButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.musicButtons img{
    cursor: pointer;
}
.songlist ol li{
    cursor: pointer;
    padding: 12px 40px;
}

.seekbar{
    border: 2px solid white;
    width: 98%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.circle{
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background-color: white;
    position: absolute;
    bottom: -4px;
    left: 0%;
    cursor: pointer;
}
.abovebar{
    display: flex;
    justify-content: space-between;
}
.hamburger{
    display: none;
}
.cross{
    display: none;
}
@media (max-width:1400px) {
    .left{
        position: absolute;
        left:-100%;
        transition: all .3s;
        z-index: 2;
        width:333px;
        background-color: #0b0b0b;
        height: 90vh;

    }
    .hamburger{
        display: block;
    }
    .cross{
        display: block;
    }
    .right{
        width:100vw;

    }
    .playbar{
        width: 95vw;
    }
}